.sidebar{
    background: rgb(5, 68, 104);
    /* position: fixed;
    top: 0;
    left: 0; */
    width: 20%;
    height: 100%;
    padding: 20px 0;
    min-height: 100vh;
}


.sidebar a{
    font-size: 16px;
    color: #61DBFB;
}

.sidebar h5{
    font-size: 16px;
    color: #c1f3ff;
}


.nav-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#menu-logo{
    width: 100px;
    margin:25px;
}